<form [formGroup]="form">
  <h4>
    {{ 'selectForm.country.heading' | translate }}
  </h4>
  <mat-form-field
    appearance="fill"
    [attr.qaattribute]="'app-select-form-country'"
  >
    <mat-label>
      {{ 'selectForm.country.label' | translate }}
    </mat-label>
    <mat-select
      (selectionChange)="onSelectCity($event.value)"
      formControlName="country"
    >
      <mat-option>
        <ngx-mat-select-search
          [formControl]="countriesFilterCtrl"
          [clearSearchInput]="false"
          [noEntriesFoundLabel]="'No Entries Found'"
          [placeholderLabel]="'Choose a country'"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option
        *ngFor="let country of filteredCountries$ | async"
        [value]="country.name"
      >
        {{country.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <h4>
    {{ 'selectForm.city.heading' | translate }}
  </h4>
  <mat-form-field
    appearance="fill"
    [attr.qaattribute]="'app-select-form-city'"
  >
    <mat-label>
      {{ 'selectForm.city.label' | translate }}
    </mat-label>
    <mat-select formControlName="city">
      <mat-option>
        <ngx-mat-select-search
          [formControl]="citiesFilterCtrl"
          [clearSearchInput]="false"
          [noEntriesFoundLabel]="'No Entries Found'"
          [placeholderLabel]="'Choose a country'"
        ></ngx-mat-select-search>
      </mat-option>
      <mat-option
        *ngFor="let city of filteredCities$ | async"
        [value]="city"
      >
        {{city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>

