
<h4>Countries</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite country</mat-label>
  <mat-select (selectionChange)="onSelectCity($event.value)">
    <mat-option *ngFor="let country of countries" [value]="country.name">
      {{country.name}}
    </mat-option>
  </mat-select>
</mat-form-field>

<h4>Cities</h4>
<mat-form-field appearance="fill">
  <mat-label>Favorite city</mat-label>
  <mat-select>
    <mat-option *ngFor="let city of cities" [value]="city">
      {{city}}
    </mat-option>
  </mat-select>
</mat-form-field>

<app-loading [isLoading]="isLoading"></app-loading>

